
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}


.calculator {
    width: 320px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #ffab40;
}

#clear {
    grid-column: span 4;
    background-color: #ff3b30;
}

#clear:hover {
    background-color: #ff5f52;
}

#equals {
    grid-column: span 2;
    background-color: #4cd964;
}

#equals:hover {
    background-color: #5ef77e;
}
